<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>

<h2>Salut <%= @name %></h2>


<a href="<%= bab_path %>">Vers chez BAB</a>

<br><br>

<a href="<%= team_bdx_path %>">Vers la team</a>
