    <div class="content">
      <h1 class="title">Contact ...</h1>

      <p>
        Nos comptes Github :
      </p>


      <p>
        <h3><a href="https://github.com/DaTikh" target="blank">@bab</a></h3>
        <h3><a href="https://github.com/iMassim0" target="blank">@massimo</a></h3>

      </p>
      <br>
      <p>Made with 🧡.</p>
    </div>

