    <div class="content">
      <h1 class="title">Welcome Home</h1>

      <p>
        Not a very beautful website, but functional ...
      </p>


      <p>
        Liens :<br>
        <a href="<%= bab_path %>">Vers chez Bab</a>
        <br>
        <a href="<%= max_path %>">Vers chez Max</a>
        <br>
        <a href="<%= team_bdx_path %>">Vers la team</a>
      </p>
      <br>
      <p>Made with 🧡.</p>
    </div>


