<h2>ERREUR DE SAISIE !</h2>
<p>Votre nom d'utilisateur ne peut contenir que des lettres, sans espace.</p>
<p>Pour retourner sur la page de création d'utilisateur, <a href="<%= creation_path %>">cliquez ici</a> !</p>
